# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of evaluating arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
    * Python
    * R
    * Java

Some of the commonly used libraries used by Data Scientists include:
    * Numpy
    * Panas
    * Matplotlib
    * ggplot

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Krzysztof